/* CSS reset */
html {
  overflow: hidden;
  height: 100%;
  scroll-behavior: smooth;
  /* Add smooth scrolling */
}

/* Display block for HTML5 elements */
article,
aside,
figure,
footer,
header,
nav,
section {
  display: block;
}

/* Touch screen text size adjust */
@media (hover: none) {
  body {
    font-size: 100%;
    /* Reset font size for touch screens */
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}

/* Remove focus outline */
:focus:not(:focus-visible) {
  outline: none;
}

/* Body styles */
body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: -0.01em;
  overflow: hidden;
  overflow-y: scroll;
  /* Add vertical scrolling */
}

/* Remove margins for paragraphs */
p {
  margin: 0;
}

/* Strong text styles */
strong {
  font-weight: 400;
  font-family: 'Roboto Slab Bold', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.75;
}

/* Anchor tag styles */
a {
  outline: none;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
  transition: all 1.2s ease-in-out;
}

/* Anchor tag hover styles */
a:hover {
  color: #79ffe1;
  border-color: #79ffe1;
  transition: all 0.2s ease;
}

/* Remove borders from images inside anchor tags */
a img {
  border: 0;
}

/* Set maximum width for images */
img {
  max-width: 100%;
}

/* Header 1 styles */
h1 {
  margin: 0;
  font-size: 22px;
  line-height: 1.59;
  font-weight: normal;
  letter-spacing: normal;
  opacity: 0;
  animation: fadeIn 2s ease-out 0.1s forwards;
}

/* Header 1 anchor tag styles */
h1 a {
  border-color: #333;
}

/* Header 1 small text styles */
h1 small {
  font-size: 70%;
}

/* Header 2 styles */
h2 {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 120px;
  font-size: 30px;
  line-height: 1.67;
  font-weight: normal;
  font-family: 'Roboto Slab Bold', Helvetica, Arial, sans-serif;
  opacity: 0;
  animation: fadeIn 2s ease-out 1.3s forwards;
}

/* Wrapper */
.wrapper {
  padding: 80px 120px 0 80px;
  height: 100%;
  box-sizing: border-box;
}

/* Skills list */
ul.skills {
  font-size: calc(100vw / 6);
  line-height: 180px;
  color: #79ffe1;
  font-family: 'Roboto Slab Bold', Helvetica, Arial, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  letter-spacing: -0.04em;
  position: absolute;
  left: -30px;
  top: 25%;
  white-space: nowrap;
  opacity: 0;
  animation: fadeIn 2s ease-out 0.6s forwards;
  pointer-events: none;
}

ul.skills li {
  position: absolute;
  opacity: 0;
  width: 100%;
  animation: rotateWord 12s cubic-bezier(1, 0, 0, 1) infinite;
}

/* Skills list animations */
ul.skills li:nth-of-type(2) {
  animation-delay: 3s;
}

ul.skills li:nth-of-type(3) {
  animation-delay: 6s;
}

ul.skills li:nth-of-type(4) {
  animation-delay: 9s;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 1;
  }

  17% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* Footer */
footer {
  position: absolute;
  bottom: 80px;
  left: 120px;
  opacity: 0;
  animation: fadeInDown 1s ease-out 1 1.6s forwards;
}

/* Links */
a {
  tap-highlight-color: rgba(0, 0, 0, 0);
  /* Remove tap highlight */
}

/* Selection */
::selection {
  background-color: #1a1a1a !important;
}

/* Input placeholder */
::placeholder {
  color: #666666;
}

/* Keyframes */
@keyframes rotateWord {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  7% {
    opacity: 1;
    transform: translateY(0);
  }

  27% {
    opacity: 1;
    transform: translateY(0);
  }

  32% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 0;
  }
}

/* Keyframes for fadeInDown animation */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
  }
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Font-face */
@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/roboto-slab-regular.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab Bold';
  src: url('fonts/roboto-slab-bold.woff') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* IE */
._ie * {
  opacity: 1 !important;
}

._ie .skills {
  display: none !important;
}

/* Styles for screens up to 1200px */
@media screen and (max-width:1200px) {

  ul.skills {
    left: -20px;
  }

  h2 {
    font-size: 25px;
    line-height: 40px;
  }

}

/* Styles for screens up to 1023px */
@media screen and (max-width:1023px) {

  .wrapper {
    padding: 80px 80px 0 80px;
  }

  h2 {
    left: 80px;
  }

  footer {
    left: 80px;
  }

}

/* Styles for screens up to 767px */
@media screen and (max-width:767px) {

  .wrapper {
    padding: 40px 20px;
  }

  .hide,
  footer {
    display: none;
  }

  h1 {}

  h1 small {
    display: block;
    line-height: 25px;
  }

  ul.skills {
    font-size: calc(100vw / 6);
    left: -5px;
    line-height: 100px;
    height: 100px;
    top: unset;
    bottom: 10%;
    position: absolute;
  }

  h2 {
    font-size: 28px;
    line-height: 42px;
    left: 20px;
    bottom: unset;
    top: 35%;
    position: absolute;
  }

}

/* Styles for screens up to 480px */
@media screen and (max-width:480px) {}